#!/bin/bash

# Enable debugging, useful when you want to figure out why
# this script is not behaving the way you expect it to do
DEBUG=0

# What do you want to call this service?
SERVICE_NAME="Factorio"

# Which user is running factorio?
# Running any public service as "root" is generally not recommended
USERNAME=factorio

# The absolute path to the factorio directory
FACTORIO_PATH=/path/to/factorio
# The absolute path to the factorio binary
BINARY=${FACTORIO_PATH}/bin/x64/factorio

# The latency expected between peers (milliseconds)
# Try to set this to the highest latencay + 30
# If Peer A and B have a latency of 100 between eachother
# set this to 130
LATENCY=250

# The number of minutes between each autosave
AUTOSAVE_INTERVAL=10
# The number of autosaves to use for rotation
AUTOSAVE_SLOTS=3

