[Unit]
Description=Factorio Server
Wants=network-online.target
After=network.target network-online.target

[Service]
User=factorio
Group=factorio

# We will store a pid file in your ${WRITE_DIR}/server.pid
# Adjust if you change the write dir of your server
PIDFile=/opt/factorio/server.pid

Type=forking
TimeoutStartSec=20
ExecStart=/opt/factorio-init/factorio start
TimeoutStopSec=20
ExecStop=/opt/factorio-init/factorio stop
RestartSec=20
Restart=on-failure

[Install]
WantedBy=multi-user.target
